{# Think of macros as functions or components that you can call and return some text #}

{% macro render_toc_node(node, active_slug, max_depth) -%}
  {%- if node.level <= max_depth -%}
    {% set is_active = active_slug and active_slug == node.path | trim_start_matches(pat="#") %}
    <li{% if is_active %} class="active"{% endif %}>
      <a href="{{ node.path }}">{{ node.title }}</a>
      {%- if node.children and node.level < max_depth %}
        <ul>
          {%- for child in node.children %}
            {{ self::render_toc_node(node=child, active_slug=active_slug, max_depth=max_depth) }}
          {%- endfor %}
        </ul>
      {%- endif %}
    </li>
  {%- endif -%}
{% endmacro %}
